*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    box-sizing: border-box;}
html{
    scroll-behavior: smooth;
    scroll-padding: 80px 0px 0px;
}
h3{
    color: black;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}
#content{
    width: 100%;
    padding: 0px 1% 1%;
    background-color: white;
}
#header{
    background-color: gray;
        height: 70px;
        color: white;
        padding: 0px 20px;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        z-index: 1;
        overflow: hidden;
}    
#header::after {
    content: "";
    display: block;
    clear: both;
}
#header h1{
    line-height: 70px;
    color: white;
    float: left;
    text-transform: uppercase;
}
html{
    scroll-behavior: smooth;
}
.nav{
    list-style-type: none;
    float: right;
}
.nav li{
    display: inline-block;
    line-height: 70px;
    padding: 0px 20px;
}
.nav li a{
    display: block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
}
.nav li a i{
    margin-right: 10px;
}
ul.nav li a:hover, .show-button:hover, .hide-button:hover{
    color: black;
    }
.show-button, .hide-button{
    color: white;
    font-size: 30px;
    line-height: 70px;
    transition: 0.5s;
    display: none;
}
.show-button{
    float: right;
}
#chk{
    visibility: hidden;
    position: absolute;
    z-index: -10;
}
#banner{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: left;
    margin-bottom: 15px;
    margin-top: 90px;
}
#banner img{
        height: 100%;
        width: 100%;
}
#banner h1{
    color: white;
    padding: 20px;
    position: absolute;
    font-size: 40px;
}
#Section1::after{
    content: '';
    display: block;
    clear: both;
}
#Section1{
    margin-top: 30px;
}
#circle_container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.members{
    margin: 20px 30px;
}
.members img{
    width: 250px;
    border-radius: 50%;
    height: 250px;
    border-radius: 50%;
}
#Section2::after{
    content: '';
    display: block;
    clear: both;
}
#Section2{ 
    width: 100%;
}
#Section2Left{
    padding: 4px;
    width: 49.5%;
    background-color: gray;
    float: left;
    height: 380px;
    color: white;
    overflow: auto;
    margin-bottom:15px;
}
#Section2Right{
    width: 49.5%;
    float: right;        
}
#article{
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: left;
}
#article img{
    background-size: cover;
}
#article h5{
    position: absolute;
}
#Section3::after{
    content: '';
    display: block;
    clear: both;
}
#Section3{
    margin-left: 4%;
    margin-right: 4%;   
}
#box_container{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
}
.box{
    background-color: lightgray;
    margin: 20px 30px;
    width: 240px;        
    height: 400px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    color: white;
    overflow: auto;
    box-shadow: 2px 2px 5px rgb(105, 103, 103);
}
.box img{
        width: 100%;
        height: 150px;
        border-radius: 5px;
    }
.box p{
        text-align: justify;
        padding: 4px;
    }
.box a{
        background-color: red;
        color: white;
        display: block;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        text-decoration: none;  
        margin: 15px; 
        margin-bottom: 5px; 
    }
.box a:hover{
        background-color: blue;
    }
.box h4{
    margin: 10px 0px;
    text-align: center;
    font-weight: bolder;
}
#Footer{
    background-color: palevioletred;
        height: 90px;
        padding: 20px;
        color: black;
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
}
@media(max-width:946px){
    html{
        scroll-padding: 480px;
    }
    .show-button, .hide-button{
        display: block;
    }
    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 420px;
        background-color: rgb(71, 62, 62);
        text-align: center;
        line-height: normal;
        padding: 80px 0px;
        transition: 0.7s;
    }
    #chk:checked ~ .nav{
        right: 0;
    }
    .nav li{
        display: block;
        line-height: 60px;
        margin: 0px;
    }
    .nav li a{
        display: block;
    }
    .nav li a:hover{
        display: block;
        background-color: darkgray;
    }
    .hide-button{position: absolute;
    right: 18px;
    top: 5px;
    }
    #header h1{
        font-size: 25px;
    }
    .nav li a i{
        margin-right: 15px;
    }
}
@media(max-width: 700px){
    #Section2Left{
        width: 100%;
    }
    #Section2Right{
        width: 100%;
    }
    #article img{
        width: 100%;
    }
    .box{
        width: 260px;
    }
    #banner h1{
        font-size: 35px;
    }
    #Section2Left{
        margin-bottom: 25px;
    }
    #article{
        margin-bottom: 25px;
    }
}
@media(max-width: 450px){
    #banner h1{
        font-size: 30px;
    }
    #content{
        min-width: 350px;
    }
    #box{
        width: 100%;
    }
}
@media(max-width: 414px){    
    #Footer{
        height: 110px;
    }
}
